body {
    margin: 0px;
    font-family: Inter var,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.clickable {
    cursor: pointer;
}

/* Fix for chrome: needed to avoid disappearing / moved icons */
::before, ::after { backface-visibility: unset !important; }
